<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ditkevinstreet.createaccountscreen">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AlarmReceiver"></receiver>
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterParent"></activity>
        <activity android:name=".RegisterParent2"></activity>
        <activity android:name=".RegisterParent3AddChildren"></activity>
        <activity android:name=".CalendarView"></activity>
        <activity android:name=".LogInScreen"></activity>
        <activity android:name=".RegisterChild"></activity>
        <activity android:name=".RegisterChild1"></activity>
        <activity android:name=".RegisterChild2"></activity>
        <activity android:name=".AddReminder"></activity>
        <activity android:name=".DailyReminderList"></activity>
        <activity android:name=".ReminderDetail"></activity>
        <service android:name=".Service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>
        <service android:name=".Service.RingtonePlayingService"
            android:enabled="true"></service>
    </application>

    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>